@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-color: rgba(255, 166, 0, 0.47);
}

#layout {
    width: 90%;
    min-width: 500px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
}

#hero-container {
    background-image: url("../images/colorpencil1.jpg");
    height: 60vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid orange;
    border-radius: 10px;
}

#hero-container h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 70px;
    color: orange; 
    font-family: "Luckiest Guy", cursive;
}

#hero-container a {
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    background-color: orange;
    color: whitesmoke;
    border: solid 5px orange;
    border-radius: 50%;
    width: 100px;
    font-weight: bold;
}

#hero-container a:hover {
    background-color: transparent;
    color: orange;
}

.cards {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    border-radius: 10px;
    font-family: "Luckiest Guy", cursive;
    text-align: center; 
}

.cards #about {
    width: 350px;
    border: 5px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 24px;
    background: whitesmoke;
    display: inline-block; 
    border: 5px solid orange;
}

.cards img {
    width: 100%;
    border-radius: 10px;
    margin: 24px 0px;
   
}

.cards #about a {
    text-decoration: none;
    color: orange;
    font-weight: bolder;
    font-size: 36px;
}

.cards #about a:hover,
.cards #contact a:hover {
    color: rgb(236, 126, 9);
}

.cards #contact {
    width: 350px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 24px;
    background: whitesmoke;
    display: inline-block;
    border: 5px solid orange;
}

.cards #contact a {
    text-decoration: none;
    text-decoration: none;
    text-align: center;
    color: orange;
    margin: 80px;
    font-weight: bolder;
    font-size: 36px;
}



#gallery img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
    border-radius: 10px;
    border: 5px solid orange;
}

#gallery {
    columns: 3 auto;
    column-gap: 24px;
}

#cta h2 {
    text-align: center;
    font-size: 75px;
    color: white;
    box-shadow: 4px 4px 12px orange;
    border-radius: 10px;
    text-shadow: 3px 7px #feb94a;
}