/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-2 {
    background-color: white;
    max-width: 350px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.card-style-2 .animagram-header {
    display: flex;
    justify-content: space-between;
    margin: 24px;
}

.card-style-2 .animagram-header .brand-name {
    font-size: 28px;
    margin: 12px 0px;
}

.card-style-2 .profile-pic-container img {
    border-radius: 50%;
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.card-style-2 h2 {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 0px;
}

.card-style-2 p {
    text-align: center;
    margin: 24px;
}

.card-style-2 .animagram-footer {
    display: flex;
    justify-content: space-between;
    margin: 24px;
    font-size: 24px;
}