#heading1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#heading2 {
    background-color:white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#black {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#red {
    background-color: red;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#white {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 24px;
}

#heading3 {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}


#purple {
    background-color: #DDC3ff;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#yellow {
    background-color: #FFF38A;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#blue {
    background-color: #74A5FF;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#peach {
    background-color: #FFBE98;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 24px;
}

#heading4 {
    background-color: white;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#venus {
    background-color: #BAD6EB;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#sky {
    background-color: #D0E3FF;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#universe {
    background-color: #7096D1;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}

#galaxy {
    background-color: #081F5C;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 24px;
}