/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA:wght@100..400&display=swap');

#license {
    width: 700px;
    border: 3px solid navy;
    border-radius: 12%;
    padding: 24px;
    background: linear-gradient(white, skyblue, skyblue, #2323b2);
    box-shadow: 0px 7px 1px #252424bb;
}


#left-side {
    display: inline-block;
    width: 65%;
}


#right-side {
    display: inline-block;
    width: 34%;
}


#id-and-expiration div {
    display: inline-block;
}


#small-pic-container  {
    display: inline-block;
}


#data-fields {
    display: inline-block;
}


#small-pic-container img {
    width: 100%;
}


#data-left {
    display: inline-block;
}


#data-right {
    display: inline-block;
}


#signature {
    text-align: center;
}


#right-side img {
    width: 100%;
}


#donor {
    display: inline-block;
    color: red;
    margin: 10px;

}


#real-id {
    display: inline-block;
}

div h1 {
    color: navy;
    font-size: 50px;
    margin: 0%;
}


div h4 {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0%;
}


#id-and-expiration {
    color: navy;
}


#id-and-expiration span {
    color: red;
    font-weight: bold;
    margin: 0px 15px 10px 0px;

}


#address {
    font-weight: bold;
    margin: 12px 10px 10px 0px;
}

#data-fields {
    vertical-align: top;
    margin: 12px;
}


#data-fields span {
    color: red;
    font-weight: bold;
}

#data-right {
    margin: 12px;
    color: navy;
    
}

#data-left {
    color: navy;
}

#signature {
    font-family: "Playwrite CA", "cursive";
}

