* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}


#header h1 {
    text-align: center;
    color: #231f20;
}

.navbar {
    background-color: #231f20;
    border: 3px solid #231f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar img {
    width: 100px;
    padding: 12px;
}

.navbar a {
    text-decoration: none;
    color: #c2976b;
    font-size: 24px;
    padding: 10px;
}

.single-column-layout {
    background-color: #c2976b;
    width: 80%;
    min-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.single-column-layout #hero {
    background-image: url("../images/steakplate.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

.single-column-layout #hero a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 60px;
    background-color: #231f20;
    padding: 24px;
    margin: 24px;
}

.single-column-layout #hero a:hover {
    background-color: #c2976b;
    color: #231f20;
    border: 3px solid #231f20;
}

.single-column-layout #side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #231f20;
    margin: 40px;
}

.single-column-layout #side-by-side img {
    width: 400px;
    padding: 36px;
}

.single-column-layout #side-by-side p {
    padding: 24px;
    font-size: 18px;
    text-align: center;
}

.cards {
    width: 80%;
    display: flex; 
    margin-right: auto;
    margin-left: auto;  
}

.cards #card1 {
    background-image: url("../images/finedinning.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 24px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards #card2 {
    background-image: url("../images/celebration.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
    padding: 24px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards #card3 {
    background-image: url("../images/wineglasses.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 24px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    background-color: #231f20;
    padding: 12px;
}

.cards a:hover {
    background-color: #c2976b;
    color: #231f20;
    border: 3px solid #231f20;
}

.single-column-layout #icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 12px;
    margin-top: 36px;
    background-color: #231f20;
}

.single-column-layout #copyright {
    background-color: #231f20;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

