* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#header h1 {
    text-align: center;
    color: #231f20;
    font-family: "acroterion-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 12px;
}

.navbar {
    background-color: #231f20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.navbar img {
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.navbar #links a {
    text-decoration: none;
    color: #c2976b;
    font-size: 36px;
    padding: 10px;
    margin: 12px;
    font-family: "poetica-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar #links a:hover {
    background-color: #c2976b;
    color: #231f20;
    border: 3px solid #231f20;
}

.navbar #links a:active {
    color: #c2976b;
    background-color: #231f20;
    border: 3px solid #c2976b;
}

.single-column-layout {
    background-color: #c2976b;
    width: 80%;
    min-width: 800px;
    margin-right: auto;
    margin-left: auto;
}

.single-column-layout #hero {
    background-image: url("../images/steakplate.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

.single-column-layout #hero a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 60px;
    background-color: #231f20;
    padding: 0px 12px;
    margin: 24px;
    font-family: "poetica-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.single-column-layout #hero a:hover {
    background-color: #c2976b;
    color: #231f20;
    border: 3px solid #231f20;
}

.single-column-layout #hero a:active {
    color: #c2976b;
    background-color: #231f20;
    border: 3px solid #c2976b;
}

.single-column-layout #side-by-side {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #231f20;
    margin: 40px;
}

.single-column-layout #side-by-side img {
    width: 450px;
    padding: 36px;
}

.single-column-layout #side-by-side p {
    padding: 24px;
    font-size: 18px;
    text-align: center;
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    font-style: normal;
}

.cards {
    width: 80%;
    display: flex; 
    margin-right: auto;
    margin-left: auto;
    font-family: "poetica-std", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cards #card1 {
    background-image: url("../images/finedinning.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 24px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards #card2 {
    background-image: url("../images/celebration.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center; 
    padding: 24px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards #card3 {
    background-image: url("../images/wineglasses.jpg");
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    padding: 24px;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    background-color: #231f20;
    padding: 12px;
}

.cards a:hover {
    background-color: #c2976b;
    color: #231f20;
    border: 3px solid #231f20;
}

.cards a:active {
    color: #c2976b;
    background-color: #231f20;
    border: 3px solid #c2976b;
}

.single-column-layout #icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 24px;
    padding: 12px;
    margin-top: 36px;
    gap: 8px;
    background-color: #231f20;
}

.single-column-layout #copyright {
    background-color: #231f20;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

/* menu page */

.single-column-layout #featured-dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.single-column-layout #featured-dish img {
    width: 50%;
    margin-top: 24px;
}

.single-column-layout h1 {
    font-family: "poetica-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #231f20;
    justify-content: center;
}

.single-column-layout h2 {
    font-family: "acroterion-jf", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    margin: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #231f20;
    justify-content: center;
}

.single-column-layout h3 {
    font-family: "poetica-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-column-layout p {
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
    margin: 0px;
    padding-top: 0px;
}

/* media screen */

@media screen and (max-width: 700px) {
   
    .navbar {
        background-color: #231f20;
        display: flex;
        flex-direction: column;
        position: sticky;
        top: 0px;
    }

    .navbar #links a {
        font-size: 28px;
        padding-bottom: 0px;
        padding-top: 2px;
    }

    .single-column-layout {
        background-color: #c2976b;
        width: 60%;
        min-width: 500px;
    }

    .single-column-layout #hero a {
        font-size: 40px;
        padding: 0px 12px;
        margin: 12px;
    }

    .single-column-layout #hero {
        height: 60vh;
        padding: 50px;
    }

    .single-column-layout #side-by-side {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    .single-column-layout h1 {
        font-size: 24px;
    }
    
    .single-column-layout h2 {
        font-size: 40px;
    }
    
    .single-column-layout h3 {
        font-size: 24px;
    }
    
    .single-column-layout p {
        font-size: 16px;
    } 
}
