* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 600px 250px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 24px 0px;
}

#sidebar-content {
    padding: 24px;
    grid-area: sidebar;
}

#sidebar-content h2 {
    background-color: lightpink;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
    text-align: center;
}

#sidebar-content ul {
    background-color: #efefef;
    border: 3px solid lightpink;
    margin: 0px 0px 36px;
    padding: 0px 12px;
    list-style-type: none;
}

#sidebar-content a {
    color: hotpink;
    text-decoration: none;
}

#sidebar-content li {
    border-bottom: 1px solid lightpink;
    padding: 8px 0px;
}

#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    grid-area: content;
    padding: 0px 24px;
    background-color: lightpink;
    border: 3px solid hotpink;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid hotpink;
}

#main-content h1 {
    margin: 0px;
}

#main-content h4 {
    margin-top: 5px;
}
